.loanAgreementOutline {
   width: 75%;
   margin: auto;
  margin-bottom: 15px;
}

.loanAgreementOutline:hover {
    border: 5px solid #d0d0d0;
  }

  .loanAgreementOutline .card:hover {
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.12);
  transform: translateY(-2px) scale(1.01);
  transition: box-shadow 0.2s, transform 0.2s;
}