

.mainBody {
    width: 80%;
    padding: 20px;
}

.row {
    margin: 5px;
}

.form-group {
    margin: 10px;
}

.sigBox {
    border: 5px solid red;
    height: 150px;
    width: 200px;
}

.lendBtn
{
    margin: 10px;
}

.borrowBtn
{
    margin: 10px;
}

.loanTypeBtnClicked {
    color: #fff !important;
    background: #198754 !important;
    border-color: #198754 !important;
    box-Shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}







/* canvas {
    background-color: black;
}    */